name: Security
on:
  workflow_run:
    workflows:
      - CI
      - Charts
    types:
      - completed
    branches:
       - main
  workflow_dispatch:

jobs:
  security:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    name: Security Scan
    steps:
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'config'
        scan-ref: '.'
        format: 'sarif'
        output: 'trivy-results.sarif'
    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v4
      with:
        github-token: ${{ github.token }}
        sarif_file: 'trivy-results.sarif'
